# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Variáveis e Operadores

In [2]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [3]:
# Imprimindo o valor da variável
var_teste

In [4]:
# Imprimindo o valor da variável
print(var_teste)

1

In [5]:
var_teste = 2

In [6]:
var_teste

2

In [7]:
type(var_teste)

int

In [8]:
var_teste = 9.5

In [9]:
type(var_teste)

float

In [10]:
x = 1

In [11]:
x

1

## Declaração Múltipla

In [12]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [13]:
pessoa1

'Maria'

In [14]:
pessoa2

'José'

In [15]:
pessoa3

'Tobias'

In [16]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [17]:
fruta1

'Laranja'

In [18]:
fruta2

'Laranja'

## Variáveis atribuídas a outras variáveis e ordem dos operadores

In [21]:
largura = 2

In [22]:
altura = 4

In [23]:
area = largura * altura

In [24]:
area

8

In [25]:
perimetro = 2 * largura + 2 * altura

In [26]:
perimetro

12

In [27]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [28]:
perimetro

32

## Operações com variáveis

In [29]:
idade1 = 25

In [30]:
idade2 = 35

In [31]:
idade1 + idade2

60

In [32]:
idade2 - idade1

10

In [33]:
idade2 * idade1

875

In [34]:
idade2 / idade1

1.4

In [35]:
idade2 % idade1

10

## Concatenação de Variáveis

In [36]:
nome = "Steve"

In [37]:
sobrenome = "Jobs"

In [38]:
fullName = nome + " " + sobrenome

In [39]:
fullName

'Steve Jobs'